<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="SiteUrl" value="http://localhost:60677" />
    <add key="BrowserName" value="Chrome" />
    <add key="DbConn" value="SERVER=localhost; DATABASE=bubhubs; UID=root; PWD=root; charset=utf8;" />
  </appSettings>
</configuration>